.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #336394;
  color: white;
}
.welcome-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.logout-btn {
  background-color: #cf4b3c;
  color: white;
  padding: 7px 6px;
  border-radius: 5px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #c0392b;
}


